# Databases
*.db
*.sql
*.sqlite

# Logging
/logs
*.log

# Misc
*.bak

# Packages
*.7z
*.cab
*.dmg
*.gz
*.iso
*.msi
*.msm
*.msp
*.rar
*.tar
*.zip

# Project
.idea
/storage
/vendor
.env
.phpunit.result.cache

# Repository
.git

# System - macOS
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.fseventsd
Network Trash Folder
Temporary Items

# System - Windows
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db
*.lnk